html, body{
    overflow-x: hidden !important; 
}

.bg-about {
  background: #0270d4;
  height: 500px;
}

.header_menu {
  text-align: center;
  position: relative;
  bottom: 90px;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 40px;
}

.header_menu ul li a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  border-bottom: 3px solid #fff;
  padding-bottom: 3px;
}

.header_menu .btn- {
  margin-left: 20px;
  background: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  color: #6d6875;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.header_menu .btn-:hover {
  background: #f5d518;
  color: #fff;
}

.mensagem_sobre {
  text-align: left;
  width: 500px;
  position: relative;
  top: 80px;
  left: 100px;
}
.mensagem_sobre h2 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #fff;
  margin-bottom: 10px;
}

.mensagem_sobre p {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 40px;
  color: #fff;
}

.introducao {
  width: 100%;
  height: 380px;
  background-image: url("/image/bg-intro.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 80px;
}

.introducao h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.quote_externo {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: white;
}

.quote_externo p {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.quote_externo p:before,
.quote_externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 14px auto 10px auto;
}

.quote_externo cite {
  font-style: normal;
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.introducao .btn_intro {
  border: 3px solid #fff;
  padding: 10px 30px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
}

.introducao .btn_intro:hover {
  border-color: #f5d518;
  color: #f5d518;
}

.subtitulo {
  text-align: center;
  font-size: 24px;
  font-family: Arial;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #0270d4;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 60px;
}

.subtitulo h2 {
  font-weight: bold;
}

.subtitulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #0270d4;
  margin: 8px auto;
}

.container_main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.sub_card {
  width: 300px;
  height: 350px;
  color: #fff;
  margin: 50px;
  position: relative;
  background-color: #0270d4;
  -webkit-box-reflect: below 5px
    linear-gradient(transparent 60%, rgba(0, 0, 0, 0.2));
  transition: all 0.4s;
}

.sub_card img {
  position: relative;
  top: 90px;
  left: 70px;
  width: 150px;
}

.sub_card:hover {
  transform: translateY(-10px);
}
.sub_card:nth-child(2) {
  transform: scale(1.1);
}
.sub_card:hover:nth-child(2) {
  transform: translateY(-10px) scale(1.1);
}

.container_main h2 {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: -30px;
  right: -15px;
  font-size: 5rem;
  transition: all 0.4s;
  padding: 20px;
}

.sub_card:hover h2 {
  font-size: 6rem;
}

.btn {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  color: #6d6875;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.call {
  text-align: center;
  position: relative;
  top: -100px;
  margin-bottom: 100px;
}

.call p {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.call a {
  border: 3px solid #0270d4;
  padding: 10px 30px;
  color: #0270d4;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
}

.call a:hover {
  border-color: #000;
  color: #000;
}

.projetos {
  background: #0270d4;
  margin-top: -120px;
  width: 100%;
  height: 750px;
}

.sub_projetos {
  color: #fff;
}

.sub_projetos:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 8px auto;
}

.slide ul li img {
  margin: 10px;
}

.call_projetos {
  position: relative;
  top: 40px;
}

.call_projetos a {
  border-color: #fff;
  color: #fff;
}

.call_projetos p {
  color: #fff;
}

.call_projetos a:hover {
  color: #f5d518;
  border-color: #f5d518;
}

.quote_img {
  background-image: url("/image/bg-cacti.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote_final {
  text-align: center;
  padding-top: 40px;
}

.missao {
  text-align: left;
  margin-top: 30px;
}

.missao h3,
.valores h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.missao h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px 0 20px 0;
}

.missao p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1em;
  padding-right: 60px;
}

.valores {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 40px;
}

.valores ul li {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 30px;
  list-style: none;
}

.valores h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px 0 20px 0;
}

.foto_equipe img {
  width: 100%;
  padding-top: 20px;
  margin-bottom: 40px;
}

.footer {
  width: 100%;
  background: #0270d4;
  color: #fff;
  padding: 20px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer_redes ul li img {
  width: 30px;
  height: 30px;
}

.footer h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px 0 12px 0;
}

.footer_historia {
  padding-right: 40px;
}

.footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", serif;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer_redes ul li a {
  border: 3px solid #fff;
  display: block;
  padding: 10px;
}

.footer_redes ul li a:hover {
  border-color: #f5d518;
}

.copy {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  background: #fff;
  padding: 20px 0;
}

.quote_sobre {
  text-align: center;
  margin-bottom: 40px;
}

.quote_sobre p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 18px;
  padding-bottom: 10px;
}

.quote_sobre cite {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.quote_sobre:before,
.quote_sobre:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #0270d4;
  margin: 14px auto 10px auto;
}

.header img {
  width: 60px;
  height: 60px;
  margin: 10px;
}